txt

node_modules
dist
dist-ssr
package-lock.json
yarn.lock

.DS_Store
.nitro
.cache
.env
*.local
.vercel
.output
.tanstack
.wrangler
.vinxi

/build/
/api/
/server/build
/public/build# Sentry Config File
.env.sentry-build-plugin
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/